{
	"extends": "airbnb",
  "env": {
    "browser": true
  },
	"rules": {
		"no-console": "off",
		"indent": ["error", 4, {"SwitchCase": 1}],
		"no-restricted-properties": "off",
		"no-param-reassign": "off",
		"newline-per-chained-call": "off"
	}
}